<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="helpApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="helpApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="helpApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="helpApp" class="no-js"> <!--<![endif]-->
<html lang="en" ng-app="helpApp">
<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MyRetail Webapp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="css/User_Guide.css">
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
</head>
<body>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Prime Therapeutics Remote Access</title>
</head>
<body>
<div class="container-fluid rounded_border" id="background_container" ng-controller="helpAppCTRL">
    <div class="container rounded_border" id="main_container">
        <div class="row">
            <div class="col-md-3" style="margin-top: 20px">
                <a href="/"><img src="myretail.jpg"></a><h2>Products</h2>
            </div>
        </div>
        <div class="row active">
            <div id="browsePane" class="col-md-9" >
                <div class="row active rounded_border" id="help_content" style="z-index:5">
                    <div id="installation_block" ng-hide="editMode">
                        <p id="introduction" style="margin:5px">

                        <div class="list-group" style="width:90%" >
                            <a href="#" class="list-group-item ng-cloak" ng-repeat="item in products" ng-click="select(item.id)" ng-cloak>{{item.name}}   {{item.price.value}}   {{item.price.currency_code}} </a>
                        </div>

                    </div>
                    <div id="editPane" class="col-md-3 ng-cloak" ng-show="editMode" ng-cloak style="width:90%">
                            <h3>Edit Product</h3>
                            <div class="input-group">
                                <form id="editProduct" >
                                    <input class="form-control" ng-model="name" aria-label="Name" type="text" name="name" value="{{selected.name}}">
                                    <input class="form-control" ng-model="value" type="text" name="value" aria-label="Price" value="{{selected.price.value}}">
                                    <input class="form-control" ng-model="currency_code" type="text" name="currencyCode" aria-label="Currency Code" value="{{selected.price.currency_code}}">
                                </form>
                            </div>
                            <div style="padding:10px">
                                <button type="button" class="btn-default" ng-click="save()">Save</button>
                                <button type="button" class="btn-default" ng-click="cancel()">Cancel</button>
                            </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="helpApp.js"></script>
<script src="bower_components/jquery/dist/jquery.min.js"></script>

<!-- Custom provider includes -->
</body>
</html>
<script type="text/javascript">
    function displayInstallation(){
        $('#installation_block').css('display', 'block');
        $('#operations_block').css('display', 'none');


    }
    function displayOperation(){
        $('#installation_block').css('display', 'none');
        $('#operations_block').css('display', 'block');
    }
</script>